:root{
    --color-dark: #000000;
    --color-white: #fff;
    --color-light: #ababab;
    --color-purple: #7700ff75;
}

*{
    background-color: var(--color-dark);
    color: var(--color-white);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 16px;
}

.relogio{
    display: flex;
    gap: 50px; 
    flex-wrap: wrap;   
}

.relogio span{
    font-size: 150px;
    display: flex;
    align-items: center;
    gap: 50px;    
}

.relogio span:not(:last-child):after{
    content: ':';
    margin-bottom: 25px;
    color: var(--color-light)
}

h2 strong{
    color: var(--color-purple);
}

h2{
    font-size: 15px;
}